
body {
  background-color: #f1f1f1;
}
* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

header{
  color: white;
  text-align: center;
  background-color: #666;
  padding: 1px;
}
footer{
  background-color: #555;
  color: white;
  text-align: center;
  padding: 10px;
}
nav {
  float: left;
  width: 18%;
  background-color: #f1f1f1;
  padding: 20px;
  height: 430px; 
}
article {
  padding: 20px;
  background-color: white;
  height: 430px; 
}
section:after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
